* text=auto eol=lf
*.ps1 text eol=crlf
*.wasm binary
*.png binary

# tree-sitter generate 生成的文件
editors/tree-sitter-unigo/src/** linguist-generated
editors/vscode/syntaxes/unigo.tmLanguage.json linguist-generated
